<!doctype html>
<html>
<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header class="section-header">
        <%- include("../partials/user/header.ejs") %>
    </header>
    <!-- ========================= SECTION PAGETOP ========================= -->
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-success">
      <div class="container">
          <h2 class="title-page text-white">About us</h2>
      </div> <!-- container //  -->
      </section>
      <!-- ========================= SECTION INTRO END// ========================= -->
      
      <!-- ========================= SECTION CONTENT ========================= -->
      <section class="section-content padding-y">
      <div class="container">
      
      <header class="section-heading">
      <h2 class="section-title">dlyplants.id</h2>
      </header><!-- sect-heading -->
      
      <p>Mencari tanaman hias untuk rumah menjadi lebih mudah berkat adanya website ini. Tidak lagi 
      harus mengunjungi toko tanaman dekat rumah untuk mencari tanaman yang sesuai dengan kemauan Anda. 
      Dengan katalog berupa foto di website dlyplant ini dan berbagai macam pilihan tanaman dan bibit yang terdapat di 
      masing-masing kategori, maka website ini akan mempermudah melengkapi koleksi tanaman hias Anda. </p>
      <a href="javascript: history.back()" class="btn btn-light"> &laquo Go back</a>
      
      </div> <!-- container .//  -->
      </section>
      <!-- ========================= SECTION CONTENT END// ========================= -->
      
      <!-- ========================= SECTION  ========================= -->
      <section class="section-name bg padding-y">
      <div class="container">
      
      <header class="section-heading">
      <h2 class="section-title">Website ini tuh apa sih ?</h2>
      <p class="lead">Tujuan dibuatnya website ini adalah untuk memenuhi syarat kelulusan Mata Kuliah RPL Lanjut dan juga sebagai penambah ilmu baru selaku saya sebagai developer.</p>
      </header><!-- sect-heading -->
      
      </div><!-- container // -->
      </section>
      <!-- ========================= SECTION  END// ========================= -->
    <!-- ========================= SECTION  END// ========================= -->
    
    <footer class="section-footer border-top">
        <%- include("../partials/footer.ejs") %>
    </footer>
        <!-- End Footer Area -->
    </div>
    
</body>

</html>