<!doctype html>
<html>
<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <header class="section-header">
        <%- include("../partials/user/header.ejs") %>
    </header>
    <!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Products</h2>
        <nav>
        <ol class="breadcrumb text-white">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/product">Product</a></li>
        </ol>  
        </nav>
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <footer class="section-footer border-top">
        <%- include("../partials/footer.ejs") %>
    </footer>
        <!-- End Footer Area -->
    </div>
    
</body>

</html>