	<div class="container">
		<section class="footer-top padding-y">
			<div class="row">
				<aside class="col-md-4">
					<article class="mr-3">
						<img src="../../images/logos/logo.png"  class="logo-footer">
						<p class="mt-3">dlyplant.id hanyalah suatu toko penjual Tanaman Hias yang dimana sangat cocok bagi kamu yang memiliki ketertarikan dengan Tanaman Hias.</p>
						<div>
						    <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="https://instagram.com/dlyplants.id?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
						</div>
					</article>
				</aside>
				<aside class="col-sm-3 col-md-2">
					<h6 class="title">About</h6>
					<ul class="list-unstyled">
						<li> <a href="/dlyplant">About us</a></li>
						<li> <a href="/product">Product</a></li>
					</ul>
				</aside>
				<aside class="col-sm-3 col-md-2">
					<h6 class="title">Services</h6>
					<ul class="list-unstyled">
						<li> <a href="https://www.google.co.id/maps">Location</a></li>
					</ul>
				</aside>
				<aside class="col-sm-3  col-md-2">
					<h6 class="title">For users</h6>
					<ul class="list-unstyled">
						<li> <a href="/login"> User Login </a></li>
						<li> <a href="/register"> User Register </a></li>
						<li> <a href="/profile"> My Account </a></li>
						<li> <a href="/order"> My Orders </a></li>
						<li> <a href="/wishlist"> My Wishlist </a></li>
					</ul>
				</aside>
				<aside class="col-sm-3  col-md-2">
					<h6 class="title">For admin</h6>
					<ul class="list-unstyled">
						<li> <a href="/admin/login"> Admin Login </a></li>
					</ul>
				</aside>
			</div> <!-- row.// -->
		</section>	<!-- footer-top.// -->
		<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+62 81514112883", // WhatsApp number
            call_to_action: "Chat aku disini", // Call to action
            position: "right", // Position may be 'right' or 'left'
            pre_filled_message: "Hai", // WhatsApp pre-filled message
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
		<section class="footer-copyright border-top">
				<p class="float-left text-muted"> &copy 2021 abintang Company  All rights reserved </p>
				<p target="_blank" class="float-right text-muted">
					<a href="https://github.com/abintang">Privacy & Cookies</a> &nbsp   &nbsp 
					<a href="https://github.com/abintang">Accessibility</a>
				</p>
		</section>
	</div><!-- //container -->