<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-lg-3 col-sm-4 col-12">
	<div class="brand-wrap">
		<img class="logo" src="../../images/logos/logo.png">
	</div> <!-- brand-wrap.// -->
	</div>
	<div class="col-lg-4 col-xl-5 col-sm-8 col-9">
		<ul class="nav justify-content-center">
			<li class="nav-item">
			  <a class="nav-link" href="/">Home </a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/product">Products</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/dlyplant">About us</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="https://www.google.co.id/maps">Locations</a>
			</li>
		  </ul>
	</div> <!-- col.// -->
	<div class="col-lg-5 col-xl-4 col-sm-12">
		<div class="widgets-wrap float-md-right">
			<a href="/cart" class="widget-header mr-2">
				<div class="icon">
					<i class="icon-sm rounded-circle border fa fa-shopping-cart"></i>
				</div>
			</a>
			<a href="/wishlist" class="widget-header mr-2">
				<div class="icon">
					<i class="icon-sm rounded-circle border fa fa-heart"></i>
				</div>
			</a>
			<div class="widget-header dropdown">
				<a href="#" data-toggle="dropdown" data-offset="20,10">
					<div class="icontext">
						<div class="icon">
							<i class="icon-sm rounded-circle border fa fa-user"></i>
						</div>
						<div class="text">
							<small class="text-muted">Sign in | Join</small>
							<div>My account <i class="fa fa-caret-down"></i> </div>
						</div>
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="/login"><i class="fas fa-sign-in-alt"></i> <span>Have account? Sign in</span></a>
						<hr class="dropdown-divider">
						<a class="dropdown-item" href="/register"><i class="fas fa-user-plus"></i> <span>Don't have account? Sign up</span></a>
				</div> <!--  dropdown-menu .// -->
			</div>  <!-- widget-header .// -->
		</div> <!-- widgets-wrap.// -->
	</div> <!-- col.// -->
</div> <!-- row.// -->
	</div> <!-- container.// -->
</section> <!-- header-main .// -->